.box-content{
    position: relative
}

.card-container{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 0.5s;
    
}

.card-container.is-flipped {
    transform: rotateY(180deg);
}

.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 56px;
    position: absolute;
    backface-visibility: hidden;
}

.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
    background-color: aquamarine;
}

