@import url(./variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
}
.header{
    width: 100%;
    height: 192px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 55px 100px;
}

.header > img{
    width: 255px;
    height: 50px;
}

.header > nav{
    display: flex;
    align-items: center;
    gap: 42px;
}
.header > nav > a {
    color: #FFFFFF;
    text-decoration: unset;
}
.header > nav > button{
    width: 265px;
    height: 78px;
    background-color: var(--primary-color);
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    color: #2BC20E;
    font-size: 30px;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fd6a6a;
    opacity: 50%;
    z-index: 1;
}