*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    padding: 73px 20px 73px 20px;
    gap: 65px;
    max-width: 1393px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.box:nth-child(1) {
    max-width: 1195px;
    width: 100%;
    height: 487px;
    box-shadow: 0 4px 10px rgba(0, 255, 159, 0.29), inset 0 4px 20px rgba(0, 201, 255, 0.15);
    border: 1px solid #00FF9F;
    
}
.box:nth-child(3), .box:nth-child(7), .box:nth-child(9) {
    max-width: 1195px;
    width: 100%;
    height: 487px;
    border-radius: 55px;
    border: 20px solid #00995F;
    border-top: 8px solid #00995F;
    border-bottom: 8px solid #00995F;
    background-color: #E0E0E0;
}
.box:nth-child(5) {
    max-width: 1195px;
    width: 100%;
    height: 742px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 136px;
    row-gap: 80px;
}
.box:nth-child(5) .box-content {
    max-width: 257px;
    width: 100%;
    height: 310px;
    border-top: 9px solid #00FFD0;
    border-bottom: 10px solid #00FFD0;
    border-left: 7px solid #00FFD0;
    border-right: 8px solid #00FFD0;
    border-radius: 56px;
    background: linear-gradient(135deg, #7FFFCA, #00C9FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box:nth-child(5) .box-content .box-content-title {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Unbounded';
    text-align: center;
}
.box:nth-child(11) {
    max-width: 1195px;
    width: 100%;
    height: 669px;
    margin: 20px 5px 20px 5px;
    background: #00FF9FD9;
    opacity: 0.85;
    border-radius: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
}
.box:nth-child(11) .previous-page, .next-page {
    cursor: pointer;
}
.box:nth-child(11) .page {
    max-width: 919px;
    width: 100%;
    height: 562px;
    border-radius: 101px;
    background-color: rgba(160, 160, 160, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22.5px;

}
.box:nth-child(11) .page .page-number {
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Unbounded';
    text-align: center;
}
.box:nth-child(11) .page .line {
    max-width: 800px;
    width: 100%;
    height: 7px;
    background-color: #FFFFFF;
}
.box:nth-child(11) .page .page-content {
    max-width: 875px;
    width: 100%;
    height: 347px;
    border-radius: 55px;
}
.title {
    max-width: 562px;
    width: 100%;
    height: 73px;
    border-radius: 55px;
    border: #2DBD7F 2px solid;
    box-shadow: 4px 3px 7px #2DBD7F;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Unbounded';
    position: relative;
    right: 26%;
}
