@import url(./variable.css);

html {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: 1px solid #A0A0A0;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-color);
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.app {
    width: 100%;
}

.active {
    display: inline-block;
}

.unactive {
    display: none;
}

/* SECTION 1 */
.section1 {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 77px 10px 104px 10px;
}

.section1__content {
    max-width: 1086px;
    width: 100%;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(to right, rgba(0, 153, 95, 0), rgba(0, 243, 151, 0.38), rgba(0, 255, 159, 0.55));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 229px;
    position: relative;
    padding: 20px 20px 20px 0px;
}

.section1__content--text {
    font-size: 3.75rem;
    color: #F5F7FA;
    text-shadow: 0 4px 0 #2BC20E;
    width: 86%;
    line-height: 100%;
    opacity: 80%;
}

.section1__decor {
    position: absolute;
}

.section1__decor1 {
    top: -78px;
    right: -41px;
}

.section1__decor2 {
    bottom: -70px;
    left: -120px;
}

/* SECTION 2 */
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    gap: 61px;
    padding-bottom: 71px;
    padding-inline: 10px;
}

.section2__text {
    max-width: 870px;
    width: 100%;
    font-size: 30px;
    line-height: 100%;
    color: #E0E0E0;
    height: max-content;
    display: flex;
    align-items: center;
}

.section2__selection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 862px;
    width: 100%;
}

.section2__selection-ch {
    display: flex;
    max-width: 870px;
    width: 100%;
    min-height: 63px;
    align-items: center;
    gap: 10px;
    background-color: #D9D9D9;
    padding-inline: 17px;
    border-radius: 28px;
    opacity: 1;
    transition: color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

.section2__selection-ch:hover {
    color: white;
    background-color: #00C9FF;
    cursor: pointer;
}

.section2__selection-ch--text {
    font-size: 30px;
    line-height: 100%;
}

.section2__selection-ch--desc {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #92FE9D;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* SECTION 3 */
.section3 {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 172px;
    align-items: center;
    padding: 71px 53px 83px 53px;
}

.section3__content {
    max-width: 734px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.section3__decor {
    position: absolute;
}

.section3__decor1 {
    right: 560px;
    bottom: -60px;
}

.section3__decor2 {
    right: -120px;
    top: -60px;
    z-index: 1;
}

.section3__content--text {
    max-width: 734px;
    width: 100%;
    border-radius: 50px 0;
    background: linear-gradient(to right, #D9D9D9, #00FF9F);
    min-height: 115px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    text-shadow: 0 4px 0 #00000040;
    padding: 20px 10px;
}

.section3__frame {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3__frame--decor {
    max-width: 424px;
    width: 100%;
}

.section3__frame--decor>img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.section3__logo {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
    z-index: 2;
}

.section3__logo--row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 36px;
}

.section3__logo--child {
    width: 100px;
    height: 100px;
    background-color: #F5F7FA;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #00FF9F, inset 0 0 24px 0 #A0A0A0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.section3__logo--child:hover {
    transform: scale(1.3) rotateX(45deg);
}

/* SECTION 4 */
.section4 {
    background-color: var(--primary-color);
    padding: 83px 0 204px 0;
    display: flex;
    flex-direction: column;
    gap: 262px;
    align-items: center;
}

.section4__content {
    position: relative;
    max-width: 734px;
    width: 100%;
    height: 115px;
    border-radius: 50px 0;
    background: linear-gradient(to right, #D9D9D9, #00FF9F);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4__content--text {
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0 4px 0 #00000040;
}

.section4__decor {
    position: absolute;
}

.section4__decor1 {
    top: -395px;
    right: 90px;
    z-index: 1;
}

.section4__decor2 {
    position: relative;
    z-index: 1;
    max-width: 436px;
    width: 100%;
}

.section4__decor2>img {
    width: 100%;
}

.section4__decor3 {
    bottom: -100px;
    right: -415px;
}

.section4__decor4 {
    top: 130px;
    right: 105px;
}

.section4__decor5 {
    top: 125px;
    right: -185px;
}

.section4__container {
    max-width: 1510px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section4__group {
    position: relative;
    z-index: 2;
}

.section4__group-ch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.section4__group--center {
    width: 338px;
    height: 338px;
    background: radial-gradient(circle, #00FF9F, #00CD80, #00995F);
    filter: blur(94px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.section4__group--sldc {
    width: max-content;
    height: 212px;
    position: absolute;
    background-color: #4CC53C80;
    border-radius: 10px;
    padding: 32px 18px;
    color: white;
    transform: scale(1);
    transition: transform 0.5s ease-in-out,
        background-color 0.5s ease-in-out;
}

.section4__group--sldc:hover {
    transform: scale(1.05);
    background-color: #00C9FF;
    cursor: pointer;
}

.section4__group--sldc--sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4__group--sldc--sub_button {
    width: 130px;
    height: 46px;
    background-color: #474747;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.section4__group--logo {
    width: 92px;
    height: 92px;
    border-radius: 9999px;
    background-color: #F5F7FA;
    box-shadow: 0 4px 25px 0 #463030;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.section4__group--logo:hover {
    transform: scale(1.4);
}

.section4__group--logo1 {
    top: -143px;
}

.section4__group--logo2 {
    top: -55px;
    right: -100px;
}

.section4__group--logo3 {
    top: 165px;
    right: -120px;
}

.section4__group--logo4 {
    bottom: -95px;
    right: 15px;
}

.section4__group--logo5 {
    bottom: -95px;
    left: 15px;
}

.section4__group--logo6 {
    top: 165px;
    left: -120px;
}

.section4__group--logo7 {
    top: -55px;
    left: -100px;
}

/* SECTION 5 */
.section5 {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    padding: 316px 0 0 0;
}

.section5__container {
    max-width: 1242px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 81px;
    padding-top: 100px
}

.section5__form {
    max-width: 559.63px;
    width: 100%;
    height: 668px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.section5__container>img {
    min-width: 0;
}


.section5__form--title {
    font-size: 41px;
    line-height: 100%;
    color: #FFFFFF;
}

.section5__form--frame {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form--title {
    font-size: 20px;
    line-height: 100%;
    color: #2BC20E;
}

.form--input>input {
    color: #898989;
    max-width: 556px;
    width: 100%;
    height: 59px;
    border-radius: 14px;
    padding-left: 30px;
    font-size: 18px;
}

.form__message--input>input {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form__message--input>input::placeholder {
    text-align: start;
}

.section5__form--button {
    margin: 0 auto;
    width: 164px;
    height: 48px;
    background-color: #E0E0E0;
    font-size: 20px;
    border-radius: 9999px;
}

.footer {
    padding: 88px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.footer__container {
    height: max-content;
    max-width: 1221px;
    width: 100%;
    background-color: #00FF9F80;
    border-radius: 45px 45px 0 0;
    display: flex;
    padding: 100px 48px;
}

.footer__container--child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 25px 0 50px 0;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.footer__section1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 41px;
}

.footer__social {
    display: flex;
    gap: 20px
}

.in-social {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.footer__section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 44.5px;
}

.footer__text {
    background-color: #F5F7FA;
    border-radius: 7px;
    font-size: 30px;
    line-height: 100%;
    max-width: 500px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 790px;
    width: 100%;
}

.footer__contact--detail {
    font-size: 1.25rem;
    line-height: 100%;
    color: #FFFFFF;
}

.footer__section3>a {
    font-size: 18px;
    line-height: 100%;
    color: white;
}

.section5,
.footer {
    padding: 0 110px;
}


.test {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .section3 {
        position: relative;
        padding-inline: 10px;
    }

    .section3__logo--row {
        min-width: 250px;
        max-width: 250px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section3__content {
        position: static;
    }

    .section3__decor2 {
        right: 0;
    }

    .section3__decor1 {
        top: -50px;
        left: -250px;
    }

    .section4 {
        overflow-x: hidden;
    }

    .section4__container {
        align-items: center;
    }

    .section5 {
        padding-inline: 10px;
        margin-bottom: 30px;
    }

    .section5__container {
        justify-content: center;
    }

    .section5__container>img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }

    .section3__frame--decor {
        display: none;
    }

    .section3__frame {
        justify-content: center;
    }

    .section4__content--text {
        text-align: center;
    }

    .section4 {
        gap: 172px;
    }

    .section4__group--center {
        position: absolute;
        z-index: -1;
        top: 0;
    }

    .section4__group--logo {
        position: static;
    }

    .section4__group-ch {
        gap: 40px;
        flex-direction: column;
    }

    .section4__group--sldc {
        position: static;
        width: 300px;
    }

    .section5__container {
        padding-top: 20px;
    }

    .footer{
        padding: 0;
    }
    .footer__section1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
    }
    .footer__social{
        gap: 10px;
    }
    .footer__section1>img {
        width: 100%;
        min-width: 0;
    }
}