*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2A2A2A;
}
.box:nth-child(1) {
    max-width: 1195px;
    width: 100%;
    height: 487px;
    box-shadow: 0px 4px 4px #00FF9F4A;
    border: 1px solid #00FF9F;

}
