:root{
    --primary-color: #2A2A2A;
}
/* Font space-grotesk */
.space-grotesk-300 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.space-grotesk-400 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.space-grotesk-500 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.space-grotesk-600 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.space-grotesk-700 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Font Unbounded */
.unbounded-400{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.unbounded-500{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.smoke-effect::before{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(197, 196, 196);
  opacity: 0.5;
  content: "";
}
.smoke-effect{
  overflow-y: hidden;
}