@import url(../../shared/variable.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--primary-color);
    padding: 0 0 13px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-section1 {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.job-section1--child {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 705px;
}

.job-section1__layer {
    width: 100%;
    height: 97px;
    border-radius: 30px;
    position: absolute;
    padding: 0 15px;
}

.job-section1__layer1 {
    background-color: #6EE6561A;
    top: 48px;
}

.job-section1__layer2 {
    background-color: #8ADB421A;
    top: 61px;
}

.job-section1__layer3 {
    background-color: #4CC53C80;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.job-section1__layer--title {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 100%;
}

.job-section2, .job-section2b {
    max-width: 1440px;
    width: 100%;
}

.job-section2__title, .job-section2b__title {
    margin-left: 44px;
    position: relative;
    max-width: 1373px;
    width: 50%;
    display: flex;
}

.job-section2__title--layer, .job-section2b__title--layer {
    width: 558px;
    height: 73px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px 0 #2DBD7F;
    border-radius: 55px;
    position: absolute;
}

.job-section2__layer1, .job-section2b__layer1 {
    position: initial;
}

.job-section2__layer2, .job-section2b__layer2 {
    top: 4px;
    left: 3px;
}

.job-section2__layer3, .job-section2b__layer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    top: 8px;
    left: 7px;
}

.job-section2__content {
    margin-top: 96px;
    padding: 0 131px 0 73px;
    display: flex;
    justify-content: space-between;
}

.job-section2b__content {
    margin-top: 96px;
    padding: 0 40px 0 131px;
    display: flex;
    justify-content: space-between;
}

.job-section2__content > img {
    max-width: 520px;
    width: 100%;
}

.job-section2__box, .job-section2b__box {
    width: 419px;
    height: max-content;
    border-radius: 55px;
    background: linear-gradient(to right, #00FF9F, #00995F);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.job-section2__box--text, .job-section2b__box--text {
    width: 404.9983215332031px;
    height: max-content;  
    border-radius: 55px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

.job-section2__box--text-child > ul, .job-section2b__box--text-child > ul {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.job-section2__box--text-child > ul > li, .job-section2b__box--text-child > ul > li {
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}

.job-section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 160px;
}

.job-section3--child {
    max-width: 1334.5px;;
    width: 100%;
    padding: 0 50px;
}

.job-section3__line {
    width: 100%;
    border: 5px solid #FFFFFF;
}

.job-section3__back {
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.job-section3__back--icon {

}

.job-section__cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 81px 0 37px 0;
}
.section__cloud > img{
   width: 100%;
}

.ux__title {
    justify-content: flex-end;
    width: 100%;
}

.ux__title1 {
    
}

.ux__title2 {
    left: initial;
    right: -3px;
}

.ux__title3 {
    left: initial;
    right: -7px;
}


@media only screen and (max-width: 1024.5px) {
    .job-section1__layer {
        max-width: 550px;
    }

    .job-section1__layer--logo {
        width: 50px;
    }

    .job-section1__layer--title {
        font-size: 20px;
    }

    .job-section2__title, .job-section2b__title {
        margin-left: 0;
        width: 100%;
    }

    .job-section2__title--layer, .job-section2b__title--layer {
        max-width: 465px;
        width: 100%;
    }

    .job-section2__layer1, .job-section2b__layer1 {
        position: initial;
        margin: 0 auto;
    }

    .job-section2__layer2, .job-section2b__layer2 {
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .job-section2__layer3, .job-section2b__layer3 {
        font-size: 24px;
        top: 8px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0 20px;
        text-align: center;
    }

    .job-section2__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0 125px;
    }

    .job-section2__content > img {
        width: 80%;
    }

    .job-section2__box, .job-section2b__box {
        max-width: 100%;
        width: 100%;
    }

    .job-section2__box--text, .job-section2b__box--text {
        max-width: 100%;
        width: 100%;
    }

    .job-section2__box--text-child {
        display: flex;
        justify-content: center;
    }

    .job-section2__box--text-child > ul, .job-section2b__box--text-child > ul {
        max-width: 80%;
        width: 100%;
    }

    .job-section2__box--text-child > ul > li, .job-section2b__box--text-child > ul > li {
        font-size: 18px;
    }

    .job-section3 {
        margin-top: 70px;
    }

    .job-section3--child {
        max-width: 900px;   
        width: 100%;
    }

    .job-section__cloud > img {
        width: 100%;
    }

    .job-section2b__content {
        padding: 0 125px;
    }
}

@media only screen and (max-width: 600px) {
    .job-section1 {
        height: 230px;
        width: 100%;
        padding: 0 50px;
    }

    .job-section1__layer {
        max-width: 300px;
        width: 100%;
        height: 75px;
    }
    
    .job-section1__layer--title {
        font-size: 16px;
    }

    .job-section1__layer--logo {
        width: 35px;
    }

    .job-section2__title--layer, .job-section2b__title--layer {
        max-width: 558px;
        width: 100%;
        height: 50px;
        background-color: var(--primary-color);
        box-shadow: none;
        text-align: center;
    }

    .job-section2__layer3, .job-section2b__layer3 {
        font-size: 18px;
        top: 8px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0 5px;
        text-align: center;
    }

    .job-section2__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0 40px;
        margin-top: 65px;
    }

    .job-section2__box, .job-section2b__box {
        max-width: 100%;
        width: 100%;
        padding: 10px 10px;
    }

    .job-section2__box--text, .job-section2b__box--text {
        max-width: 100%;
        width: 100%;
    }

    .job-section2__box--text-child > ul, .job-section2b__box--text-child > ul {
        max-width: 75%;
        width: 100%;
        gap: 15px;
    }
    
    .job-section2b__content {
        padding: 0 40px;
    }
}