@import url(../../shared/variable.css);
.login-box{
    position: absolute;
    top: 20%;
    left: calc((100% - 600px) / 2);
    width: 600px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 90px 50px;
    background-color: var(--primary-color);
    z-index: 10000;
}
.container-login-box{
    position: absolute;
    top:192px;
    left: 0;
    width: 100%;
    height: max-content;
    z-index: 1;
}
.login-box > h1{
    color: #FFFFFF;
}
.login-box__input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box__input > form{
    width: 100%;
    height: 180px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 30px;
}
.login-box__input > form > input{
    width: 100%;
    height: 50px;
    padding-inline: 20px;
    border-radius: 15px;    
    border: none;
    outline: none;
    color: #2BC20E;
}
.login-box__input > form > input:nth-child(3){
    width: 250px;
}
.login-box__input > form > input::placeholder{
    color: rgba(0, 0, 0, 0.51);
}
.login-box__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.login-box__nav > a{
    text-decoration: none;
    color: #2BC20E;
}