@import url(../../shared/variable.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--primary-color);
    padding: 0 0 13px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nb-section1 {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nb-section1--child {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 705px;
}

.nb-section1__layer {
    width: 100%;
    height: 97px;
    border-radius: 30px;
    position: absolute;
    padding: 0 15px;
}

.nb-section1__layer1 {
    background-color: #6EE6561A;
    top: 48px;
}

.nb-section1__layer2 {
    background-color: #8ADB421A;
    top: 61px;
}

.nb-section1__layer3 {
    background-color: #4CC53C80;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nb-section1__layer--title {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 100%;
}

.nb-section2, .nb-section2b {
    max-width: 1440px;
    width: 100%;
}

.nb-section2__title, .nb-section2b__title {
    margin-left: 44px;
    position: relative;
    max-width: 1373px;
    width: 50%;
    display: flex;
}

.nb-section2__title--layer, .nb-section2b__title--layer {
    width: 558px;
    height: 73px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px 0 #2DBD7F;
    border-radius: 55px;
    position: absolute;
}

.nb-section2__layer1, .nb-section2b__layer1 {
    position: initial;
}

.nb-section2__layer2, .nb-section2b__layer2 {
    top: 4px;
    left: 3px;
}

.nb-section2__layer3, .nb-section2b__layer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    top: 8px;
    left: 7px;
}

.nb-section2__content {
    margin-top: 96px;
    padding: 0 73px;
    display: flex;
    justify-content: center;
}

.nb-section2b__content {
    margin-top: 96px;
    padding: 0 40px 0 131px;
    display: flex;
    justify-content: space-between;
}

.nb-section2__content > img {
    max-width: 520px;
    width: 100%;
}

.nb-section2__box, .nb-section2b__box {
    max-width: 1226px;
    width: 100%;
    height: 675px;
    border-radius: 55px;
    background: linear-gradient(to right, #00FF9F, #00995F);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 7px;
}

.nb-section2__box--text, .nb-section2b__box--text {
    width: 100%;
    height: 100%; 
    border-radius: 55px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    padding: 40px 20px 20px 20px;
}

.nb-section2__box--text-child {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nb-section2__box--text-child > ul, .nb-section2b__box--text-child > ul {
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.nb-section2__box--text-child > ul > li, .nb-section2b__box--text-child > ul > li {
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}

.nb-section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 130px;
}

.nb-section3--child {
    max-width: 1334.5px;;
    width: 100%;
    padding: 0 50px;
}

.nb-section3__line {
    width: 100%;
    border: 5px solid #FFFFFF;
}

.nb-section3__back {
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.nb-section3__back--icon {

}

.nb-section__cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 81px 0 37px 0;
}

.ux__title {
    justify-content: flex-end;
    width: 100%;
}

.ux__title1 {
    
}

.ux__title2 {
    left: initial;
    right: -3px;
}

.ux__title3 {
    left: initial;
    right: -7px;
}

.nb-text {
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nb-text > ul > li{
    margin: 20px 0;
}

.nb-text > img {
    max-width: 438px;
    width: 100%;
}

.nb-text > ul > li> ol > li {
    margin: 20px 0;
}


@media only screen and (max-width: 1024.5px) {
    .nb-section1__layer {
        max-width: 550px;
    }

    .nb-section1__layer--logo {
        width: 50px;
    }

    .nb-section1__layer--title {
        font-size: 20px;
    }

    .nb-section2__title, .nb-section2b__title {
        margin-left: 0;
        width: 100%;
    }

    .nb-section2__title--layer, .nb-section2b__title--layer {
        max-width: 465px;
        width: 100%;
    }

    .nb-section2__layer1, .nb-section2b__layer1 {
        position: initial;
        margin: 0 auto;
    }

    .nb-section2__layer2, .nb-section2b__layer2 {
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .nb-section2__layer3, .nb-section2b__layer3 {
        font-size: 24px;
        top: 8px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0 20px;
        text-align: center;
    }

    .nb-section2__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0 70px;
    }

    .nb-section2__content > img {
        width: 80%;
    }

    .nb-section2__box, .nb-section2b__box {
        max-width: 100%;
        width: 100%;
        height: 630px;
        padding: 20px 20px;
    }

    .nb-section2__box--text, .nb-section2b__box--text {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .nb-section2__box--text-child {
        display: flex;
        justify-content: center;
    }

    .nb-section2__box--text-child > ul, .nb-section2b__box--text-child > ul {
        max-width: 80%;
        width: 100%;
        gap: 15px;
    }

    .nb-section2__box--text-child > ul > li, .nb-section2b__box--text-child > ul > li {
        font-size: 18px;
    }

    .nb-section3 {
        margin-top: 70px;
    }

    .nb-section3--child {
        max-width: 900px;   
        width: 100%;
    }

    .nb-section__cloud > img {
        width: 100%;
    }

    .nb-section2b__content {
        padding: 0 125px;
    }

    .nb-text {
        font-size: 17px;
        line-height: 100%;
        color: #000000;
        display: flex;
        align-items: center;
    }

    .nb-text > img {
        max-width: 330px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .nb-section1 {
        height: 190px;
        width: 100%;
        padding: 0 50px;
    }

    .nb-section1__layer {
        max-width: 300px;
        width: 100%;
        height: 75px;
    }
    
    .nb-section1__layer--title {
        font-size: 16px;
    }

    .nb-section1__layer--logo {
        width: 35px;
    }

    .nb-section2, .nb-section2b {
        max-width: 1440px;
        width: 100%;
        height: 1045px;
    }

    .nb-section2__title--layer, .nb-section2b__title--layer {
        max-width: 558px;
        width: 100%;
        height: 50px;
        background-color: var(--primary-color);
        box-shadow: none;
        text-align: center;
    }

    .nb-section2__layer3, .nb-section2b__layer3 {
        font-size: 18px;
        top: 8px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0 5px;
        text-align: center;
    }

    .nb-section2__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0 40px;
        margin-top: 65px;
    }

    .nb-section2__title, .nb-section2b__title {
        margin-left: 0;
        width: 100%;
        height: 310px;
    }

    .nb-section2__box, .nb-section2b__box {
        max-width: 100%;
        width: 100%;
        height: 400px;
        padding: 0;
        background: none;
        border-radius: 12px;
    }

    .nb-section2__box--text, .nb-section2b__box--text {
        max-width: 100%;
        width: 100%;
        height: 960px;
        border-radius: 12px;
    }

    .nb-section2__box--text-child > ul, .nb-section2b__box--text-child > ul {
        max-width: 100%;
        width: 100%;
        gap: 15px;
    }

    .nb-section2__box--text-child > ul > li, .nb-section2b__box--text-child > ul > li {
        font-size: 16px;
    }
    
    .nb-section2b__content {
        padding: 0 40px;
    }

    .nb-text {
        flex-direction: column;
    }

    .nb-text > img {
        
    }
}