@import url(../../shared/variable.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    padding: 0 0 13px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-majors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.box:nth-child(1) {
    max-width: 1195px;
    width: 100%;
    height: 487px;
    box-shadow: 0 4px 10px rgba(0, 255, 159, 0.29), inset 0 4px 20px rgba(0, 201, 255, 0.15);
    border: 1px solid #00FF9F;
    
}
.box:nth-child(3), .box:nth-child(7), .box:nth-child(9) {
    max-width: 1195px;
    width: 100%;
    height: 487px;
    border-radius: 55px;
    border: 20px solid #00995F;
    border-top: 8px solid #00995F;
    border-bottom: 8px solid #00995F;
    background-color: #E0E0E0;
}
.box:nth-child(5) {
    max-width: 1195px;
    width: 100%;
    height: 742px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 136px;
    row-gap: 80px;
}
.box:nth-child(5) .box-content {
    max-width: 257px;
    width: 100%;
    height: 310px;
    border-top: 9px solid #00FFD0;
    border-bottom: 10px solid #00FFD0;
    border-left: 7px solid #00FFD0;
    border-right: 8px solid #00FFD0;
    border-radius: 56px;
    background: linear-gradient(135deg, #7FFFCA, #00C9FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box:nth-child(5) .box-content .box-content-title {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Unbounded';
    text-align: center;
}
.box:nth-child(11) {
    max-width: 1195px;
    width: 100%;
    height: 669px;
    margin: 20px 5px 20px 5px;
    background: #00FF9FD9;
    opacity: 0.85;
    border-radius: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
}
.box:nth-child(11) .previous-page, .next-page {
    cursor: pointer;
}
.box:nth-child(11) .previous-page:hover, .next-page:hover {
    scale: 1.3;
}
.box:nth-child(11) .page {
    max-width: 919px;
    width: 100%;
    height: 562px;
    border-radius: 101px;
    background-color: rgba(160, 160, 160, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22.5px;

}
.box:nth-child(11) .page .page-number {
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Unbounded';
    text-align: center;
}
.box:nth-child(11) .page .line {
    max-width: 800px;
    width: 100%;
    height: 7px;
    background-color: #FFFFFF;
}
.box:nth-child(11) .page .page-content {
    max-width: 875px;
    width: 100%;
    height: 347px;
    border-radius: 55px;
}
.title {
    max-width: 562px;
    width: 100%;
    height: 73px;
    border-radius: 55px;
    border: #2DBD7F 2px solid;
    box-shadow: 4px 3px 7px #2DBD7F;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Unbounded';
    position: relative;
    right: 26%;
}

.cn-section1 {
    height: 270px;
    width: 100%;
}

.cn-section1--child {
    display: flex;
    justify-content: center;
    position: relative;
}

.cn-section1__layer {
    max-width: 705px;
    width: 100%;
    height: 97px;
    border-radius: 30px;
    position: absolute;
}

.cn-section1__layer1 {
    background-color: #6EE6561A;
    top: 48px;
}

.cn-section1__layer2 {
    background-color: #8ADB421A;
    top: 61px;
}

.cn-section1__layer3 {
    background-color: #4CC53C80;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cn-section1__layer--logo {

}

.cn-section1__layer--title {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 100%;
}

.cn-section2, .cn-section2b {
    max-width: 1375px;
    width: 100%;
}

.cn-section2__title, .cn-section2b__title {
    margin-left: 44px;
    position: relative;
    max-width: 1373px;
    width: 100%;
    display: flex;
}

.cn-section2__title--layer, .cn-section2b__title--layer {
    width: 558px;
    height: 73px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px 0 #2DBD7F;
    border-radius: 55px;
    position: absolute;
}

.cn-section2__layer1, .cn-section2b__layer1 {
    position: initial;
}

.cn-section2__layer2, .cn-section2b__layer2 {
    top: 4px;
    left: 3px;
}

.cn-section2__layer3, .cn-section2b__layer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    top: 8px;
    left: 7px;
}

.cn-section2__content {
    margin-top: 96px;
    padding: 0 131px 0 73px;
    display: flex;
    justify-content: space-between;
}

.cn-section2__box, .cn-section2b__box {
    width: 419px;
    height: 471px;
    border-radius: 55px;
    background: linear-gradient(to right, #00FF9F, #00995F);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cn-section2__box--text, .cn-section2b__box--text {
    width: 404.9983215332031px;
    height: 455.39752197265625px;
    border-radius: 55px;
    background-color: #E0E0E0;
}

.cn-section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 160px;
}

.cn-section3--child {
    max-width: 1334.5px;;
    width: 100%;
}

.cn-section3__line {
    width: 100%;
    border: 5px solid #FFFFFF;
}

.cn-section3__back {
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.cn-section3__back--icon {

}

.cn-section__cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 81px 0 37px 0;
}

.ux__title {
    justify-content: flex-end;
}

.ux__title1 {
    
}

.ux__title2 {
    left: initial;
    right: -3px;
}

.ux__title3 {
    left: initial;
    right: -7px;
}

.cn-section2b__content {
    margin-top: 96px;
    padding: 0 0 0 131px;
    display: flex;
    justify-content: space-between;
}