@import url(../../shared/variable.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--primary-color);
    height: 100%;
}

.sdlc-container {
    
}

.sdlc-section1 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 358px;
    padding: 0 40px;
}

.sdlc-section1__layer {
    height: 124px;
    max-width: 770px;
    width: 100%;
    border-radius: 30px;
    position: absolute;
}

.sdlc-section1__layer1 {
    background-color: #6EE6561A;
    top: 91px;
}

.sdlc-section1__layer2 {
    background-color: #8ADB421A;
    top: 104px;
}

.sdlc-section1__layer3 {
    background-color: #4CC53C80;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    gap: 10px;
    top: 118px;
}

.sdlc-section1__layer3 > img {
    color: #000000;
}

.sdlc-section1__layer--text {
    max-width: 551px;
    width: 100%;
}

.sdlc-section2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.sdlc-section2__child {
    display: flex;
    justify-content: center;
    position: relative;
    height: 140px;
    width: 100%;
}

.sdlc-section2__child--layer {
    position: absolute;
    max-width: 563px;
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px 0 #2DBD7F;
}

.sdlc-section2__child--layer1 {
    
}

.sdlc-section2__child--layer2 {
    top: 3px;
    margin-left: 9px;
}

.sdlc-section2__child--layer3 {
    top: 7px;
    margin-left: 18px;
}

.sdlc-section2__layer--text {
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
}

.sdlc-section2__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 69px;
}

.sdlc-section2__box {
    border-radius: 55px;
    background: linear-gradient(to right, #00FF9F, #00995F);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 17px;
}

.sdlc-section2__box1 {
    max-width: 1133px;
    width: 100%;
    height: 380px;
}

.sdlc-section2__box2 {
    max-width: 708px;
    width: 100%;
    height: 273px;
}

.sdlc-section2__box--detail {
    background-color: #E0E0E0;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdlc-section2__box--detail1 {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.sdlc-section2__box--detail2 {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.sdlc-section2__box--text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdlc-section2__box--text1 {
    width: 90%;
}

.sdlc-section2__box--text1 > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.sdlc-section2__box--text1 > ul > li {
    font-size: 20px;
    color: #000000;
    line-height: 100%;
}

.sdlc-section2__box--text2 {
    width: 90%;
}

.sdlc-section2__box--text2 > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sdlc-section2__box--text2 > ul > li {
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}

.sdlc-section2__box--text2 > ul > ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.sdlc-section2__box--text2 > ul > ol > li {
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}

.sdlc-section2__content > img {
    width: 100%;
    max-width: 1086px;
    border-radius: 12px;
}

.sdlc-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.sdlc-section3__child {
    max-width: 1334px;
    width: 100%;
    border-top: 5px solid #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 18px;
    margin: 164px 0 23px 0;
}

.sdlc-section3__title {
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
    .sdlc-section1 {
        height: 310px;
        padding: 0 40px;
    }
    
    .sdlc-section1__layer {
        height: 100px;
        max-width: 590px;
        width: 100%;
    }

    .sdlc-section1__layer3 {
        font-size: 20px;
    }

    .sdlc-section1__layer3 > img {
        width: 50px;
    }

    .sdlc-section1__layer--text {
        max-width: 400px;
        width: 100%;
    }

    .sdlc-section2__child--layer {
        max-width: 475px;
        width: 100%;
        height: 65px;
    }

    .sdlc-section2__layer--text {
        font-size: 25px;
    }

    .sdlc-section2__box--text1 > ul > li {
        font-size: 17px;
    }

    .sdlc-section2__box2 {
        max-width: 520px;
        width: 100%;
        height: 350px;
    }

    .sdlc-section3__child {
        margin: 90px 0 23px 0;
    }
}

@media only screen and (max-width: 600px) {
    .sdlc-section1 {
        height: 200px;
        padding: 0 15px;
    }

    .sdlc-section1__layer {
        height: 70px;
        max-width: 310px;
        width: 100%;
    }

    .sdlc-section1__layer1 {
        top: 60px;
    }

    .sdlc-section1__layer2 {
        top: 70px;
    }

    .sdlc-section1__layer3 {
        top: 80px;
    }

    .sdlc-section1__layer3 > img:nth-child(3) {
        display: none;
    }

    .sdlc-section1__layer3 > img {
        width: 40px;
    }

    .sdlc-section1__layer--text {
        max-width: 225px;
        width: 100%;
    }

    .sdlc-section1__layer3 {
        font-size: 18px;
    }

    .sdlc-section2__child {
        height: 100px;
        width: 100%;
    }

    .sdlc-section2__child--layer {
        box-shadow: none;
    }

    .sdlc-section2__child--layer3 {
        top: initial;
        margin-left: 0;
    }

    .sdlc-section2__layer--text {
        font-size: 26px;
    }

    .sdlc-section2__box2 {
        max-width: 520px;
        width: 100%;
        height: 100%;

    }

    .sdlc-section2__box--text2 > ul > li {
        font-size: 17px;
        line-height: 100%;
        color: #000000;
    }

    .sdlc-section2__box--text2 > ul > ol > li {
        font-size: 17px;
        line-height: 100%;
        color: #000000;
    }

    .sdlc-section2__box {
        border-radius: 16px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .sdlc-section2__box--detail {
        border-radius: 20px;
    }

    .sdlc-section2__box1 {
        max-width: 1133px;
        width: 100%;
        height: 100%;
    }

    .sdlc-section2__box--text1 > ul {
        gap: 25px;
    }

    .sdlc-section2__box--text2 > ul > ol {
        gap: 12px;
    }
}